*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 43%; } }

body {
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 90vh min-content min-content repeat(2, min-content) 90vh repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(11, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .container {
      display: grid;
      grid-template-rows: 80vh min-content min-content min-content max-content min-content min-content 80vh repeat(2, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(11, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      display: grid;
      grid-template-rows: 80vh min-content min-content min-content max-content min-content min-content 80vh repeat(2, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(11, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.heading-1, .heading-2, .heading-3 {
  font-family: "Alegreya", sans-serif;
  font-weight: 800;
  text-align: center; }

.heading-1 {
  font-size: 7rem;
  font-family: "Inknut Antiqua", serif; }
  @media only screen and (max-width: 56.25em) {
    .heading-1 {
      font-size: 5rem;
      font-family: "Inknut Antiqua", serif; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 3rem;
  background-image: url(../img/textimg.jpg);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-2 {
      font-size: 3rem; } }

.heading-3 {
  font-size: 4rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(193, 0, 0, 0.8), rgba(255, 73, 73, 0.8)), url(../img/back-1.jpg);
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  grid-row: 1/2;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 1.5fr minmax(15rem, min-content) 1fr;
  justify-items: center;
  align-items: center; }

.logo {
  animation: fromtop 1s; }
  .logo__link {
    text-decoration: none;
    text-align: center; }
  .logo__img {
    height: 10rem;
    width: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .logo__img {
        height: 13rem;
        width: 13rem; } }

.heading-head {
  color: #ffff; }

.heading__primary {
  display: inline-block;
  letter-spacing: 2rem;
  animation: fromleft 1s; }

.heading__secondary {
  font-family: "Inknut Antiqua", serif;
  display: inline-block;
  letter-spacing: 1rem;
  animation: fromright 1s; }

@keyframes fromleft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromright {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromtop {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.navigation__button {
  cursor: pointer; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  background-color: #ffff;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 3000; }
  @media only screen and (max-width: 25em) {
    .navigation__button {
      position: fixed;
      top: 4rem;
      right: 7rem; } }

.navigation__logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  z-index: 2000;
  cursor: pointer; }
  .navigation__logo-img {
    width: 100%;
    height: 100%; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#b40000, #ff0000);
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1500; }
  @media only screen and (max-width: 25em) {
    .navigation__background {
      position: fixed;
      top: 4.5rem;
      right: 7.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1700;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all .2s; }

.navigation__icon {
  position: relative;
  margin: 3.5rem 2rem;
  width: 3rem;
  height: 2px;
  background-color: transparent;
  display: inline-block;
  z-index: 6000; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 2px;
    background-color: transparent;
    transition: all .2s; }
  .navigation__icon::before {
    transform: translateY(-1rem); }
  .navigation__icon::after {
    transform: translateY(1rem); }

.navigation__checkbox:checked ~ .navigation__button > .navigation__logo {
  display: none; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
  cursor: pointer; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
  background-color: #ff0000;
  transform: rotate(45deg); }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
  background-color: #ff0000;
  transform: rotate(-45deg); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.navigation__item {
  list-style: none; }

.navigation__links, .navigation__links:visited, .navigation__links:link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.navigation__links:hover {
  background-color: #fff;
  color: #ff0000;
  letter-spacing: 7px; }

.prosp {
  padding: 3rem;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  background-color: #f7f7f7; }

.prosp__container {
  padding: 7rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: 25rem;
  column-gap: 4rem;
  row-gap: 4rem;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .prosp__container {
      padding: 3.5rem;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: max-content;
      row-gap: 2rem; } }

.prosp__heading {
  font-weight: 900; }

.prosp__link {
  text-decoration: none;
  width: 100%; }

.history,
.players,
.videos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  line-height: 1;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.history__photo,
.players__photo,
.videos__photo {
  background-size: cover;
  background-position: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  transition: all 1s; }

@media only screen and (max-width: 37.5em) {
  .videos__photo {
    background-position: top; } }

.history__photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/history.jpg); }

.players__photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/players.jpg); }

.videos__photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../img/video.jpg); }

.prosp__textbox {
  color: #fff;
  position: relative;
  transition: all 1s;
  z-index: 10;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  align-self: start;
  justify-self: center; }

.prosp__textbox--border {
  height: 3px;
  background-color: #f7f7f7;
  transform: scaleX(0);
  transition: all 1s; }

.history:hover .prosp__textbox--border,
.players:hover .prosp__textbox--border,
.videos:hover .prosp__textbox--border {
  transform: scaleX(1); }

.history:hover .history__photo,
.players:hover .players__photo,
.videos:hover .videos__photo {
  transform: scale(1.2); }

.popup {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 999; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__content {
    background-color: #ffff;
    width: 80%;
    height: 63rem;
    margin: 5rem auto;
    position: relative; }
  .popup__premierleague, .popup__championsleague, .popup__europleague, .popup__supercup, .popup__facup, .popup__communityshield {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px); }
  .popup__premierleague {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/premiercard.jpg); }
  .popup__championsleague {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/championscard.jpg); }
  .popup__europleague {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gal-2.jpg);
    background-position: top; }
  .popup__supercup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/supercupcard.jpg); }
  .popup__facup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/facard.jpg); }
  .popup__communityshield {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/communitycard.jpg); }

.cross {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0; }
  .cross__mark {
    text-decoration: none;
    background-color: #ff5252;
    width: 3rem;
    height: 5px;
    position: absolute;
    top: 50%;
    visibility: hidden; }
    .cross__mark::before, .cross__mark::after {
      content: "";
      background-color: #ff5252;
      width: 3rem;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      visibility: visible; }
    .cross__mark::before {
      transform: translate(-50%, -50%) rotateZ(-45deg); }
    .cross__mark::after {
      transform: translate(-50%, -50%) rotateZ(45deg); }

.award__popup-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffff; }

.award__popup-details {
  padding: 5rem;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 500; }
  .award__popup-details--text {
    font-size: 2.2rem; }

.award {
  background-image: linear-gradient(rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.7)), url(../img/trophybackground.jpg);
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }
  .award__heading {
    text-align: center; }
  .award__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    column-gap: 7rem;
    padding: 10rem; }
    @media only screen and (max-width: 25em) {
      .award__container {
        row-gap: 2rem;
        padding: 5rem; } }

.award__heading {
  margin-top: 2rem;
  margin-bottom: -9rem; }

.award__card {
  position: relative;
  color: black;
  perspective: 150rem;
  -moz-perspective: 150rem;
  backface-visibility: hidden;
  transition: transform 1s;
  height: 50rem;
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 25em) {
    .award__card {
      height: 35rem; } }
  .award__card-front {
    margin: 5rem 0;
    height: 43rem;
    width: 100%;
    color: #ffff;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 25em) {
      .award__card-front {
        height: 30rem; } }
  .award__card-back {
    height: 43rem;
    margin: 5rem 0;
    width: 100%;
    color: #ffff;
    background-image: linear-gradient(to right bottom, red, #b40000);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg); }
    @media only screen and (max-width: 25em) {
      .award__card-back {
        height: 30rem; } }

.award__card:hover .award__card-back {
  transform: rotateY(0); }

.award__card:hover .award__card-front {
  transform: rotateY(-180deg); }

.premier-photo {
  background-image: url(../img/premierleague.jpg);
  background-size: cover;
  background-position: center; }

.champions-photo {
  background-image: url(../img/championsleague.jpg);
  background-size: cover;
  background-position: center; }

.europa-photo {
  background-image: url(../img/europaleague.jpg);
  background-size: cover;
  background-position: center; }

.supercup-photo {
  background-image: url(../img/supercup.jpg);
  background-size: cover;
  background-position: center; }

.facup-photo {
  background-image: url(../img/facup.jpg);
  background-size: cover;
  background-position: center; }

.community-photo {
  background-image: url(../img/communityshield.jpg);
  background-size: cover;
  background-position: center; }

.award__card-heading {
  margin-top: 2rem;
  width: 100%;
  text-align: center; }

.award__head {
  font-size: 3.5rem; }
  @media only screen and (max-width: 25em) {
    .award__head {
      font-size: 2.5rem; } }

.award__card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.award-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif; }

.trophy-won {
  text-align: center;
  font-size: 4rem;
  font-weight: 700; }

.trophy-count {
  font-size: 8rem;
  font-weight: 300; }

.btn, .btn:link, .btn:visited {
  font-size: 1.5rem;
  color: #ff0000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  background-color: white;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    background-color: white;
    transform: scaleX(1.9) scaleY(1.9);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.quote-photo {
  grid-row: 3 / 4;
  grid-column: full-start / col-end 5;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  padding: 0; }

.quote-background {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/siralexback.jpg);
  background-size: cover;
  background-position: center;
  opacity: .8;
  grid-row: 1 / -1;
  grid-column: 1/-1; }

.sir-prem {
  grid-column: 6/ 10;
  grid-row: 4 / 10;
  width: 100%;
  position: relative;
  z-index: 2; }

.photo {
  transition: all .3s; }

.photo:hover {
  outline: 1.5rem solid #c10000;
  outline-offset: 1rem;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20; }

.sir-champ {
  width: 100%;
  grid-row: 3 / 9;
  grid-column: 2 / 7;
  position: relative;
  z-index: 1; }

.quote-text {
  font-size: 4rem;
  line-height: 1.5;
  z-index: 6;
  text-align: center;
  color: #c10000; }
  @media only screen and (max-width: 56.25em) {
    .quote-text {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .quote-text {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .quote-text {
      font-size: 2rem; } }

.quote-text::before {
  content: "\201C";
  font-family: sans-serif;
  display: inline-block;
  font-size: 40rem;
  color: #ffff;
  z-index: 3;
  position: absolute;
  top: -16.75rem;
  left: -4.25rem; }
  @media only screen and (max-width: 56.25em) {
    .quote-text::before {
      font-size: 30rem;
      position: absolute;
      top: -12.75rem;
      left: -2.25rem; } }
  @media only screen and (max-width: 37.5em) {
    .quote-text::before {
      font-size: 20rem;
      position: absolute;
      top: -9.5rem;
      left: -2.25rem; } }
  @media only screen and (max-width: 31.25em) {
    .quote-text::before {
      font-size: 15rem;
      position: absolute;
      top: -6.25rem;
      left: -2.25rem; } }

.quote {
  grid-row: 3 / 4;
  grid-column: col-start 6 / full-end;
  font-size: 4rem;
  padding: 3rem;
  background-image: linear-gradient(to left bottom, #c10000, #ff4949);
  font-family: "Lobster", sans-serif; }
  .quote-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dedede; }

.quote-owner {
  text-transform: uppercase;
  color: #ff4949;
  font-family: "Alegreya", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .quote-owner {
      font-size: 2.5rem;
      line-height: 1.5;
      z-index: 2;
      text-align: center;
      color: #c10000; } }
  @media only screen and (max-width: 37.5em) {
    .quote-owner {
      font-size: 1.5rem; } }

.gallery {
  background-color: #f7f7f7;
  grid-row: 8 / 9;
  grid-column: full-start / full-end;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-row: 9 / 10; } }

.gallery__heading {
  margin-bottom: 2rem; }

.gallery__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 10vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  background-color: #f7f7f7; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2; }

.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3; }

.gallery__item--3 {
  grid-row: 5 / 6;
  grid-column: 1 / 3; }

.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1; }

.gallery__item--5 {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2; }

.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2; }

.gallery__item--7 {
  grid-row: 1 / 3;
  grid-column: 6 / 7; }

.gallery__item--8 {
  grid-row: 3 / 6;
  grid-column: 6 / span 2; }

.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1; }

.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2; }

.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2; }

.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 7; }

.gallery__item--13 {
  grid-row: 6 / 8;
  grid-column: 7 / 9; }

.gallery__item--14 {
  grid-row: 4 / 6;
  grid-column: 5 / 6; }

.footer {
  background-color: #ff0000;
  padding: 5rem;
  grid-row: 10 / 11;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 3rem; } }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__nav {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 1.5rem;
        grid-template-columns: 1fr;
        justify-items: center; } }
  .footer__container-para {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }
  .footer__container-text {
    width: 80%;
    justify-self: center; }
    @media only screen and (max-width: 31.25em) {
      .footer__container-text {
        width: 100%;
        font-size: 2rem; } }

.nav__list {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2.5rem;
  transition: all 0.2s;
  padding: 0 1rem; }
  @media only screen and (max-width: 56.25em) {
    .nav__list {
      text-align: center; } }
  .nav__list:focus, .nav__list:hover {
    border-radius: 10px;
    outline: none;
    background-color: #f7f7f7;
    animation: pulsate 1s infinite;
    color: #ff0000; }

.footer__container {
  font-size: 3.5rem; }

.nav__links, .nav__links:link, .nav__links:visited {
  text-decoration: none;
  color: #fff; }

.nav__links:hover {
  color: #ff0000; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.scorer {
  background-image: linear-gradient(to right bottom, #ff0000, #b40000);
  grid-row: 5 / 6;
  grid-column: full-start / col-end 4;
  padding: 2rem;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .scorer {
      background-image: linear-gradient(to right bottom, #ff0000, #b40000);
      grid-row: 5 / 6;
      grid-column: full-start / full-end;
      padding: 2rem;
      color: #fff; } }

.ballon {
  background-color: #f7f7f7;
  grid-row: 5 / 6;
  grid-column: col-start 5 / col-end 7; }
  @media only screen and (max-width: 56.25em) {
    .ballon {
      background-color: #f7f7f7;
      grid-row: 6 / 7;
      grid-column: full-start / full-end; } }

.appearance {
  background-image: linear-gradient(to right bottom, #ff0000, #b40000);
  grid-row: 5 / 6;
  grid-column: col-start 8 / full-end;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .appearance {
      background-color: #f7f7f7;
      grid-row: 7 / 8;
      grid-column: full-start / full-end; } }

.ballon__heading {
  color: #ff0000; }

.ballon__heading,
.scorer__heading,
.appearance__heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5; }

.ballon__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .ballon__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, max-content);
      justify-content: center; } }

.scorer__container,
.appearnce__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .scorer__container,
    .appearnce__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, max-content);
      justify-content: center; } }
  @media only screen and (max-width: 56.25em) {
    .scorer__container,
    .appearnce__container {
      grid-template-columns: 1fr;
      justify-items: center;
      justify-content: center; } }

.ballon-1,
.scorer-1,
.appearance-1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 4rem; }

.ballon-1__text-container,
.scorer-1__text-container,
.appearance-1__text-container {
  font-family: 'Lato',sans-serif;
  font-weight: 500;
  padding-left: 3rem;
  font-size: 2rem;
  align-self: center; }

.ballon-photo,
.scorer-photo,
.appearance-photo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%; }

.scorer-text,
.appearance-text,
.ballon-text {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .scorer-text,
    .appearance-text,
    .ballon-text {
      font-size: 1.4rem; } }

.fanchant {
  position: relative;
  background-color: #c10000;
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    .fanchant {
      grid-row: 8 / 9; } }

.fanchant__video-container {
  height: 100%;
  width: 100%;
  background-color: rgba(193, 0, 0, 0.9);
  opacity: .5;
  z-index: -1; }

.fanchant__video {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.fanchant__text-container {
  width: 75%;
  height: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(8deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 56.25em) {
    .fanchant__text-container {
      display: grid;
      grid-template-rows: 1fr 2fr; } }
  @media only screen and (max-width: 37.5em) {
    .fanchant__text-container {
      padding: 2rem;
      transform: translate(-50%, -50%); } }

.fanchant__heading {
  text-align: center;
  transform: skewX(-8deg); }

.fanchant__chant {
  font-family: "Lobster", sans-serif;
  text-align: center;
  font-size: 5rem;
  transform: skewX(-8deg);
  align-self: center; }
  @media only screen and (max-width: 56.25em) {
    .fanchant__chant {
      font-size: 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .fanchant__chant {
      font-size: 3rem; } }

.reds {
  color: #ff0000; }

.fanchant__head {
  font-size: 6rem;
  letter-spacing: 1rem;
  line-height: 1.2; }
